{% extends "dashboard/base.html" %}
{% load staticfiles %}

{% block title %}| Clients{% endblock %}


<div class="app-body">
<!-- ############ PAGE START-->
{% block content %}
<div class="app-body-inner">
	<div class="row-col">
		<div class="white bg b-b">
			<div class="navbar no-radius box-shadow-z1">
				<a data-toggle="modal" data-target="#subnav" data-ui-modal class="navbar-item pull-left hidden-lg-up">
					<span class="btn btn-sm btn-icon info">
			      		<i class="fa fa-th"></i>
			        </span>
			    </a>
			    <a data-toggle="modal" data-target="#list" data-ui-modal class="navbar-item pull-left hidden-md-up">
			    	<span class="btn btn-sm btn-icon white">
			      		<i class="fa fa-list"></i>
			      	</span>
			    </a>
			    <!-- nabar right -->
			    <ul class="nav navbar-nav pull-right m-l">
				    <li class="nav-item dropdown">
				        <a class="nav-link text-muted" href="#" data-toggle="dropdown">
				        	<i class="fa fa-ellipsis-h"></i>
				        </a>
				        <div class="dropdown-menu pull-right text-color" role="menu">
				          <a class="dropdown-item">
				          	<i class="fa fa-tag"></i>
				          	Tag item
				          </a>
				          <a class="dropdown-item">
				          	<i class="fa fa-pencil"></i>
				          	Edit item
				          </a>
				          <a class="dropdown-item">
				          	<i class="fa fa-trash"></i>
				          	Delete item
				          </a>
				          <div class="dropdown-divider"></div>
				          <a class="dropdown-item">
				          	<i class="fa fa-ellipsis-h"></i>
				          	More action
				          </a>
				        </div>
				    </li>
			    </ul>
			    <!-- / navbar right -->
			    <!-- link and dropdown -->
			    <ul class="nav navbar-nav">
			        <li class="nav-item">
			          	<span class="navbar-item text-md">Clients</span>
			        </li>
			        <li class="nav-item">
				        <a class="nav-link text-muted" data-toggle="modal" data-target="#add-client-modal" title="New client">
				            <span class="">
				            	<i class="fa fa-fw fa-plus"></i>s
				            	<span class="hidden-sm-down">New client</span>
				            </span>
				        </a>
			        </li>
			    </ul>
			    <!-- / link and dropdown -->
			</div>
		</div>
		<div class="row-row">
			<div class="row-col">
				<div class="col-xs modal fade aside aside-sm  b-r" id="list">
					<div class="row-col">
						<div class="row-row">
							<div class="row-col">
								<!-- col -->
								<!-- <div class="col-xs w-40 white bg b-r">
									<div class="row-col">
										<div class="row-row">
									      	<div class="row-body scrollable hover">
										      	<div class="row-inner">
										      		<div class="text-center text-sm p-y-sm">
														<a href="#" class="block text-muted">A</a>
														<a href="#" class="block text-muted active text-primary _600">B</a>
														<a href="#" class="block text-muted">C</a>
														<a href="#" class="block text-muted">D</a>
														<a href="#" class="block text-muted">E</a>
														<a href="#" class="block text-muted">F</a>
														<a href="#" class="block text-muted">G</a>

														<a href="#" class="block text-muted">H</a>
														<a href="#" class="block text-muted">I</a>
														<a href="#" class="block text-muted">J</a>
														<a href="#" class="block text-muted">K</a>
														<a href="#" class="block text-muted">L</a>
														<a href="#" class="block text-muted">M</a>
														<a href="#" class="block text-muted">N</a>

														<a href="#" class="block text-muted">O</a>
														<a href="#" class="block text-muted">P</a>
														<a href="#" class="block text-muted">Q</a>
														<a href="#" class="block text-muted">R</a>
														<a href="#" class="block text-muted">S</a>
														<a href="#" class="block text-muted">T</a>

														<a href="#" class="block text-muted">U</a>
														<a href="#" class="block text-muted">V</a>
														<a href="#" class="block text-muted">W</a>
														<a href="#" class="block text-muted">X</a>
														<a href="#" class="block text-muted">Y</a>
														<a href="#" class="block text-muted">Z</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div> -->
								<!-- col -->
								<div class="col-xs">
									<div class="row-col white bg">
								      	<!-- flex content -->
								      	<div class="row-row">
									      	<div class="row-body scrollable hover">
										      	<div class="row-inner">
										      		<!-- left content -->

										      		<div class="list"  data-ui-list="b-r b-3x b-primary" data-ui-list-target="#" data-ui-list-target-class="show">
                                                        {% for client in clients %}
                                                        <div class="list-item" data-ui-list-item-target="#{{ client.id }}" data-ui-list-target-class="show" >
										      			      <div class="list-left">
										      			        <span class="w-40 avatar circle blue-grey">
										      			            R
										      			        </span>
										      			      </div>
										      			      <div class="list-body">
										      			          <div class="pull-right dropdown">
										      			            <a href="#" data-toggle="dropdown" class="text-muted"><i class="fa fa-fw fa-ellipsis-v"></i></a>
										      			            <div class="dropdown-menu pull-right text-color" role="menu">
										      			              <a class="dropdown-item">
										      			              	<i class="fa fa-tag"></i>
										      			              	Tag item
										      			              </a>
										      			              <a class="dropdown-item">
										      			              	<i class="fa fa-pencil"></i>
										      			              	Edit item
										      			              </a>
										      			              <a class="dropdown-item">
										      			              	<i class="fa fa-trash"></i>
										      			              	Delete item
										      			              </a>
										      			              <div class="dropdown-divider"></div>
										      			              <a class="dropdown-item">
										      			              	<i class="fa fa-ellipsis-h"></i>
										      			              	More action
										      			              </a>
										      			            </div>
										      			          </div>
										      			        <div class="item-title">
										      			          <a href="#" class="_500">{{ client.name }}</a>
										      			        </div>
										      			        <small class="block text-muted text-ellipsis">
										      			            {{ client.email }}
										      			        </small>
										      			      </div>
										      			    </div>
                                                        {% endfor %}
                                                    </div>
										        	<!-- / -->
										      	</div>
										    </div>
								      	</div>
								      	<!-- / -->
								    </div>
								</div>
							</div>
						</div>
					</div>
				</div>
            {% for client in clients %}
				<div class="col-xs hidden-lg-up" id="{{ client.id }}">
					<div class="row-col white bg">
				      	<!-- flex content -->
				      	<div class="row-row">
					      	<div class="row-body scrollable hover">
						      	<div class="row-inner">
							      	<!-- content -->
							      	<div class="p-a-lg text-center">
							      		<img src="images/a3.jpg" class="w circle animated rollIn" alt=".">
							      		<div class="animated fadeInUp">
								      		<div>
									      		<span class="text-md m-t block">{{ client.name }}</span>
									      		<small class="text-muted">Product Designer</small>
								      		</div>
								      		<div class="block clearfix m-t">
								              <a href="" class="btn btn-icon btn-social rounded indigo">
								                <i class="fa fa-facebook"></i>
								                <i class="fa fa-facebook"></i>
								              </a>
								              <a href="" class="btn btn-icon btn-social rounded light-blue">
								                <i class="fa fa-twitter"></i>
								                <i class="fa fa-twitter"></i>
								              </a>
								              <a href="" class="btn btn-icon btn-social rounded red">
								                <i class="fa fa-google-plus"></i>
								                <i class="fa fa-google-plus"></i>
								              </a>
								            </div>
							            </div>
							      	</div>
									<div class="p-a-md animated fadeInUp">
								        <ul class="nav">
								            <li class="nav-item m-b-xs">
								              	<a class="nav-link text-muted block">
								                	<span class="pull-right text-sm">
								                		<i class="fa fa-fw fa-map-marker"></i>
								                	</span>
								                	<span>Paris</span>
								              	</a>
								            </li>
								            <li class="nav-item m-b-xs">
								              	<a class="nav-link text-muted block">
								                	<span class="pull-right text-sm">
								                		<i class="fa fa-fw fa-phone"></i>
								                	</span>
								                	<span>123-456-789</span>
								              	</a>
								            </li>
								            <li class="nav-item m-b-xs">
								              	<a class="nav-link text-muted block">
								                	<span class="pull-right text-sm">
								                		<i class="fa fa-fw fa-birthday-cake"></i>
								                	</span>
								                	<span>July 03</span>
								              	</a>
								            </li>
								            <li class="nav-item m-b-xs">
								              	<a class="nav-link text-muted block">
								                	<span class="pull-right text-sm">
								                		<i class="fa fa-fw fa-envelope"></i>
								                	</span>
								                	<span>{{ client.email }}</span>
								              	</a>
								            </li>
								        </ul>
							        </div>
							        <!-- / -->
							    </div>
					      	</div>
					    </div>
				      	<!-- / -->
				    </div>
				</div>
			</div>
        {% endfor %}
		</div>
	</div>
</div>
{% endblock %}

{% block modals %}
{% endblock %}
<!-- ############ PAGE END-->
