{% extends "dashboard/base.html" %}
{% load staticfiles %}{% load i18n %}
{% load activity_tags %}
{% block title %}| Dashboard{% endblock %}
{% block content %}
  <!-- content -->
    <div class="app-header white bg b-b">
          <div class="navbar" data-pjax>
                <a data-toggle="modal" data-target="#aside" class="navbar-item pull-left hidden-lg-up p-r m-a-0">
                  <i class="ion-navicon"></i>
                </a>
                <div class="navbar-item pull-left h5" id="pageTitle">Dashboard</div>
                <!-- nabar right -->
                <ul class="nav navbar-nav pull-right">
                  <li class="nav-item dropdown pos-stc-xs">
                    <a class="nav-link" data-toggle="dropdown">
                      <i class="ion-android-search w-24"></i>
                    </a>
                    <div class="dropdown-menu text-color w-md animated fadeInUp pull-right">
                      <!-- search form -->
                      <form class="navbar-form form-inline navbar-item m-a-0 p-x v-m" role="search">
                        <div class="form-group l-h m-a-0">
                          <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search projects...">
                            <span class="input-group-btn">
                              <button type="submit" class="btn white b-a no-shadow"><i class="fa fa-search"></i></button>
                            </span>
                          </div>
                        </div>
                      </form>
                      <!-- / search form -->
                    </div>
                  </li>
                  <li class="nav-item dropdown pos-stc-xs">
                    <a class="nav-link clear" data-toggle="dropdown">
                      <i class="ion-android-notifications-none w-24"></i>
                      <span class="label up p-a-0 danger"></span>
                    </a>
                    <!-- dropdown -->
                    <div class="dropdown-menu pull-right w-xl animated fadeIn no-bg no-border no-shadow">
                        <div class="scrollable" style="max-height: 220px">
                          <ul class="list-group list-group-gap m-a-0">
                            <li class="list-group-item dark-white box-shadow-z0 b">
                              <span class="pull-left m-r">
                                <img src="{% static 'images/a0.jpg' %}" alt="..." class="w-40 img-circle">
                              </span>
                              <span class="clear block">
                                Use awesome <a href="#" class="text-primary">animate.css</a><br>
                                <small class="text-muted">10 minutes ago</small>
                              </span>
                            </li>
                            <li class="list-group-item dark-white box-shadow-z0 b">
                              <span class="pull-left m-r">
                                <img src="{% static 'images/a1.jpg' %}" alt="..." class="w-40 img-circle">
                              </span>
                              <span class="clear block">
                                <a href="#" class="text-primary">Joe</a> Added you as friend<br>
                                <small class="text-muted">2 hours ago</small>
                              </span>
                            </li>
                            <li class="list-group-item dark-white text-color box-shadow-z0 b">
                              <span class="pull-left m-r">
                                <img src="{% static 'images/a2.jpg' %}" alt="..." class="w-40 img-circle">
                              </span>
                              <span class="clear block">
                                <a href="#" class="text-primary">Danie</a> sent you a message<br>
                                <small class="text-muted">1 day ago</small>
                              </span>
                            </li>
                          </ul>
                        </div>
                    </div>
                    <!-- / dropdown -->
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link clear" data-toggle="dropdown">
                      <span class="avatar w-32">
                        <img src="{% static 'images/a3.jpg' %}" class="w-full rounded" alt="...">
                      </span>
                    </a>
                      {% if request.user.is_authenticated %}
                    <div class="dropdown-menu w dropdown-menu-scale pull-right">
                      <a class="dropdown-item" href="profile.html">
                        <span>Profile</span>
                      </a>
                      <a class="dropdown-item" href="setting.html">
                        <span>Settings</span>
                      </a>
                      <a class="dropdown-item" href="app.inbox.html">
                        <span>Inbox</span>
                      </a>
                      <a class="dropdown-item" href="app.message.html">
                        <span>Message</span>
                      </a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">
                        Need help?
                      </a>
                      <a class="dropdown-item" href="{% url 'dashboard:logout' %}">Sign out</a>
                    </div>
                      {% else %}
                          <div class="dropdown-menu w dropdown-menu-scale pull-right">
                              <a class="dropdown-item" href="#">
                                <span>Login</span>
                              </a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="#">
                                Need help?
                              </a>
                          </div>
                      {% endif %}
                  </li>
                </ul>
                <!-- / navbar right -->
          </div>
    </div>
    <div class="app-footer white bg p-a b-t">
      <div class="pull-right text-sm text-muted">Version 1.0.1</div>
      <span class="text-sm text-muted">&copy; Copyright.</span>
    </div>
    <div class="app-body">

<!-- ############ PAGE START-->
<div class="row-col">
	<div class="col-lg b-r">
		<div class="row no-gutter">
			<div class="col-xs-6 col-sm-3 b-r b-b">
				<div class="padding">
					<div>
						<a data-toggle="modal" data-target="#modal-amount-saved"><span class="pull-right"><i class="fa fa-caret-up text-primary m-y-xs"></i></span></a>
						<span class="text-muted l-h-1x"><i class="ion-ios-grid-view text-muted"></i></span>
					</div>
					<div class="text-center">
						<h2 class="text-center _600">&#8358;{{ amount_made }}</h2>
						<p class="text-muted m-b-md">Made</p>
						<div>
							<span data-ui-jp="sparkline" data-ui-options="[2,3,2,2,1,3,6,3,2,1], {type:'line', height:20, width: '60', lineWidth:1, valueSpots:{'0:':'#818a91'}, lineColor:'#818a91', spotColor:'#818a91', fillColor:'', highlightLineColor:'rgba(120,130,140,0.3)', spotRadius:0}" class="sparkline inline"></span>
						</div>
					</div>
				</div>
	        </div>
	        <div class="col-xs-6 col-sm-3 b-r b-b">
				<div class="padding">
					<div>
						<span class="pull-right"><i class="fa fa-caret-up text-primary m-y-xs"></i></span>
						<span class="text-muted l-h-1x"><i class="ion-document text-muted"></i></span>
					</div>
					<div class="text-center">
						<h2 class="text-center _600">{{ total_completed_jobs }}</h2>
						<p class="text-muted m-b-md">Projects Completed</p>
						<div>
							<span data-ui-jp="sparkline" data-ui-options="[1,1,0,2,3,4,2,1,2,2], {type:'line', height:20, width: '60', lineWidth:1, valueSpots:{'0:':'#818a91'}, lineColor:'#818a91', spotColor:'#818a91', fillColor:'', highlightLineColor:'rgba(120,130,140,0.3)', spotRadius:0}" class="sparkline inline"></span>
						</div>
					</div>
				</div>
	        </div>
	        <div class="col-xs-6 col-sm-3 b-r b-b">
				<div class="padding">
					<div>
						<span class="pull-right"><i class="fa fa-caret-down text-danger m-y-xs"></i></span>
						<span class="text-muted l-h-1x"><i class="ion-pie-graph text-muted"></i></span>
					</div>
					<div class="text-center">
						<h2 class="text-center _600">{{ no_of_clients }}</h2>
						<p class="text-muted m-b-md">Clients</p>
						<div>
							<span data-ui-jp="sparkline" data-ui-options="[9,2,5,5,7,4,4,3,2,2], {type:'line', height:20, width: '60', lineWidth:1, valueSpots:{'0:':'#818a91'}, lineColor:'#818a91', spotColor:'#818a91', fillColor:'', highlightLineColor:'rgba(120,130,140,0.3)', spotRadius:0}" class="sparkline inline"></span>
						</div>
					</div>
				</div>
	        </div>
	        <div class="col-xs-6 col-sm-3 b-b">
				<div class="padding">
					<div>
						<span class="pull-right"><i class="fa fa-caret-up text-primary m-y-xs"></i></span>
						<span class="text-muted l-h-1x"><i class="ion-paper-airplane text-muted"></i></span>
					</div>
					<div class="text-center">
						<h2 class="text-center _600">{{ total_uncompleted_jobs }}</h2>
						<p class="text-muted m-b-md">Pending projects</p>
						<div>
							<span data-ui-jp="sparkline" data-ui-options="[3,3,1,62,4,3,7,3,2,5], {type:'line', height:20, width: '60', lineWidth:1, valueSpots:{'0:':'#818a91'}, lineColor:'#818a91', spotColor:'#818a91', fillColor:'', highlightLineColor:'rgba(120,130,140,0.3)', spotRadius:0}" class="sparkline inline"></span>
						</div>
					</div>
				</div>
	        </div>
        </div>
		<div class="padding">
			<div class="row">
			    <div class="col-sm-4">
			        <div class="box">
			          <div class="box-header">
			            <h3>Marketing</h3>
			            <small>A general overview of your sales</small>
			          </div>
			          <div class="box-tool">
				        <ul class="nav">
				          <li class="nav-item inline">
				            <a class="nav-link">
				              <i class="ion-android-sync m-x-xs"></i>
				            </a>
				          </li>
				          <li class="nav-item inline dropdown">
				            <a class="nav-link" data-toggle="dropdown">
				              <i class="ion-android-menu m-x-xs"></i>
				            </a>
				            <div class="dropdown-menu dropdown-menu-scale pull-right">
				              <a class="dropdown-item" href="#">This week</a>
				              <a class="dropdown-item" href="#">This month</a>
				              <a class="dropdown-item" href="#">This week</a>
				              <div class="dropdown-divider"></div>
				              <a class="dropdown-item">Today</a>
				            </div>
				          </li>
				        </ul>
				      </div>
				      	<div>
			            <canvas data-ui-jp="chart" data-ui-options="
				            {
				              type: 'line',
				              data: {
				                  labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
				                  datasets: [
				                      {
				                          label: 'Dataset',
				                          data: [25, 21, 18, 20, 30, 40, 45],
				                          fill: true,
				                          backgroundColor: '#2196f3',
				                          borderColor: '#2196f3',
				                          borderWidth: 2,
				                          borderCapStyle: 'butt',
				                          borderDash: [],
				                          borderDashOffset: 0.0,
				                          borderJoinStyle: 'miter',
				                          pointBorderColor: '#2196f3',
				                          pointBackgroundColor: '#fff',
				                          pointBorderWidth: 2,
				                          pointHoverRadius: 4,
				                          pointHoverBackgroundColor: '#2196f3',
				                          pointHoverBorderColor: '#fff',
				                          pointHoverBorderWidth: 2,
				                          pointRadius: [0,4,4,4,4,4,0],
				                          pointHitRadius: 10,
				                          spanGaps: false
				                      }
				                  ]
				              },
				              options: {
				              	scales: {
				              		xAxes: [{
					                   display: false
					                }],
					                yAxes: [{
					                   display: false,
					                   ticks:{
					                   	 min: 0,
					                   	 max: 60
					               	   }
					                }]
				              	},
				              	legend: {
				              		display: false
				              	}
				              }
				            }
				            " height="150">
				            </canvas>
				      	</div>
				        <div class="box-body info text-center p-b-md">
				        	<span class="dark-white rounded m-r p-x p-y-xs text-info"><i class="fa fa-caret-up"></i> 20%</span>
				        	<span>Over last Month</span>
				        </div>
			        </div>
			    </div>
			    <div class="col-sm-4">
			    	<div class="box">
			          <div class="box-header">
			            <h3>Orders</h3>
			            <small>Calculated in last 30 days</small>
			          </div>
			          <div class="box-tool">
				        <ul class="nav">
				          <li class="nav-item inline">
				            <a class="nav-link">
				              <i class="ion-android-sync m-x-xs"></i>
				            </a>
				          </li>
				          <li class="nav-item inline dropdown">
				            <a class="nav-link" data-toggle="dropdown">
				              <i class="ion-android-menu m-x-xs"></i>
				            </a>
				            <div class="dropdown-menu dropdown-menu-scale pull-right">
				              <a class="dropdown-item" href="#">This week</a>
				              <a class="dropdown-item" href="#">This month</a>
				              <a class="dropdown-item" href="#">This week</a>
				              <div class="dropdown-divider"></div>
				              <a class="dropdown-item">Today</a>
				            </div>
				          </li>
				        </ul>
				      </div>
				        <div>
			            <canvas data-ui-jp="chart" data-ui-options="
				            {
				              type: 'line',
				              data: {
				                  labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
				                  datasets: [
				                      {
				                          label: 'Dataset',
				                          data: [63, 57, 40, 25, 20, 22, 26],
				                          fill: true,
				                          backgroundColor: '#ef193c',
				                          borderColor: '#ef193c',
				                          borderWidth: 2,
				                          borderCapStyle: 'butt',
				                          borderDash: [],
				                          borderDashOffset: 0.0,
				                          borderJoinStyle: 'miter',
				                          pointBorderColor: '#ef193c',
				                          pointBackgroundColor: '#fff',
				                          pointBorderWidth: 2,
				                          pointHoverRadius: 4,
				                          pointHoverBackgroundColor: '#ef193c',
				                          pointHoverBorderColor: '#fff',
				                          pointHoverBorderWidth: 2,
				                          pointRadius: [0,4,4,4,4,4,0],
				                          pointHitRadius: 10,
				                          spanGaps: false
				                      }
				                  ]
				              },
				              options: {
				              	scales: {
				              		xAxes: [{
					                   display: false
					                }],
					                yAxes: [{
					                   display: false,
					                   ticks:{
					                   	 min: 0,
					                   	 max: 100
					               	   }
					                }]
				              	},
				              	legend: {
				              		display: false
				              	}
				              }
				            }
				            " height="150">
				            </canvas>
				      	</div>
				        <div class="box-body danger text-center p-b-md">
				        	<span class="dark-white rounded m-r p-x p-y-xs text-danger"><i class="fa fa-caret-down"></i> 25%</span>
				        	<span>Over last Month</span>
				        </div>
			        </div>
			    </div>
			    <div class="col-sm-4">
			    	<div class="box">
			          <div class="box-header">
			            <h3>Project completion</h3>
			            <small>Calculated in last 7 days</small>
			          </div>
			          <div class="box-tool">
				        <ul class="nav">
				          <li class="nav-item inline">
				            <a class="nav-link">
				              <i class="ion-android-sync m-x-xs"></i>
				            </a>
				          </li>
				          <li class="nav-item inline dropdown">
				            <a class="nav-link" data-toggle="dropdown">
				              <i class="ion-android-menu m-x-xs"></i>
				            </a>
				            <div class="dropdown-menu dropdown-menu-scale pull-right">
				              <a class="dropdown-item" href="#">This week</a>
				              <a class="dropdown-item" href="#">This month</a>
				              <a class="dropdown-item" href="#">This week</a>
				              <div class="dropdown-divider"></div>
				              <a class="dropdown-item">Today</a>
				            </div>
				          </li>
				        </ul>
				      </div>
				        <div>
			            <canvas data-ui-jp="chart" data-ui-options="
				            {
				              type: 'line',
				              data: {
				                  labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
				                  datasets: [
				                      {
				                          label: 'Dataset',
				                          data: [10, 15, 25, 40, 60, 75, 80],
				                          fill: true,
				                          backgroundColor: '#22b66e',
				                          borderColor: '#22b66e',
				                          borderWidth: 2,
				                          borderCapStyle: 'butt',
				                          borderDash: [],
				                          borderDashOffset: 0.0,
				                          borderJoinStyle: 'miter',
				                          pointBorderColor: '#22b66e',
				                          pointBackgroundColor: '#fff',
				                          pointBorderWidth: 2,
				                          pointHoverRadius: 4,
				                          pointHoverBackgroundColor: '#22b66e',
				                          pointHoverBorderColor: '#fff',
				                          pointHoverBorderWidth: 2,
				                          pointRadius: [0,4,4,4,4,4,0],
				                          pointHitRadius: 10,
				                          spanGaps: false
				                      }
				                  ]
				              },
				              options: {
				              	scales: {
				              		xAxes: [{
					                   display: false
					                }],
					                yAxes: [{
					                   display: false,
					                   ticks:{
					                   	 min: 0,
					                   	 max: 120
					               	   }
					                }]
				              	},
				              	legend: {
				              		display: false
				              	}
				              }
				            }
				            " height="150">
				            </canvas>
				      	</div>
				        <div class="box-body success text-center p-b-md">
				        	<span class="dark-white rounded m-r p-x p-y-xs text-success"><i class="fa fa-caret-up"></i> 85%</span>
				        	<span>Over last Month</span>
				        </div>
			        </div>
			    </div>
			</div>
			<div class="row">
			    <div class="col-sm-6">
			        <div class="box">
			            <div class="box-header">
			              <span class="label success pull-right">{{ top_clients|length }}</span>
			              <h3>Top Clients</h3>
			            </div>
			            <div class="p-b-sm">
				            <ul class="list no-border m-a-0">
                                {% for client, amount in top_clients %}
				              <li class="list-item">
				                <a href="#" class="list-left">
				                	<span class="w-40 avatar danger">
					                  <span>C</span>
					                  <i class="on b-white bottom"></i>
					                </span>
				                </a>
				                <div class="list-body">
				                  <div><a href="#">{{ client }}</a></div>
				                  <small class="text-muted text-ellipsis">Total amount paid: &#8358;{{ amount }}</small>
				                </div>
				              </li>
                                {% endfor %}
				            </ul>
			            </div>
			        </div>
			    </div>
			    <div class="col-sm-6">
					<div class="box">
						<div class="box-header">
							<h3>Tasks</h3>
							<small>20 finished, 5 remaining</small>
						</div>
						<div class="box-tool">
					        <ul class="nav">
					          <li class="nav-item inline dropdown">
					            <a class="nav-link text-muted p-x-xs" data-toggle="dropdown">
					              <i class="fa fa-ellipsis-v"></i>
					            </a>
					            <div class="dropdown-menu dropdown-menu-scale pull-right">
					              <a class="dropdown-item" href="#">New task</a>
					              <a class="dropdown-item" href="#">Make all finished</a>
					              <a class="dropdown-item" href="#">Make all unfinished</a>
					              <div class="dropdown-divider"></div>
					              <a class="dropdown-item">Settings</a>
					            </div>
					          </li>
					        </ul>
					    </div>
						<div class="box-body">
						  	<div class="streamline">
						        <div class="sl-item b-success">
						          <div class="sl-content">
						            <div class="sl-date text-muted">8:30</div>
						            <div>Call to customer <a href="#" class="text-info">Jacob</a> and discuss the detail about the AP project.</div>
						          </div>
						        </div>
						        <div class="sl-item">
						          <div class="sl-content">
						            <div class="sl-date text-muted">Sat, 5 Mar</div>
						            <div>Prepare for presentation</div>
						          </div>
						        </div>
						        <div class="sl-item">
						          <div class="sl-content">
						            <div class="sl-date text-muted">Sun, 11 Feb</div>
						            <div><a href="#" class="text-info">Jessi</a> assign you a task <a href="#" class="text-info">Mockup Design</a>.</div>
						          </div>
						        </div>
						    </div>
						</div>
					  	<div class="box-footer">
					  		<a href="#" class="btn btn-xs white rounded">More</a>
					  	</div>
				  	</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="box">
						<div class="box-header">
              <a data-toggle="modal" data-target="#modal-design-problem"><span class="label success pull-right">+</span></a>
							<h3>Design Problems To Be Solved</h3>
						</div>
						<ul class="list-group no-border m-b">
                            {% for problem in design_problems %}
					        <li class="list-group-item">
					          <a href="#" class="pull-left w-40 m-r"><img src="images/a8.jpg" class="img-responsive img-circle" alt="."></a>
					          <div class="clear">
					            <a href="#" class="_500 block">{{ problem.name }}</a>
					            <span class="text-muted text-ellipsis">{{ problem.description }}</span>
					          </div>
					        </li>
                            {% endfor %}
					    </ul>
				    </div>
				</div>
	 <div class="col-sm-6">
              <div class="box">
                  <div class="box-header">
                      <a data-toggle="modal" data-target="#modal-potential-client"><span class="label success pull-right">+</span></a>
                      <span class="label success pull-left">{{ potential_clients|length }}</span>
                      <h3>&nbsp;&nbsp;&nbsp;&nbsp;Potential Clients</h3>
                  </div>
                  <div class="p-b-sm">
                    <ul class="list no-border m-a-0">
                        {% for client in potential_clients %}
                      <li class="list-item">
                        <a href="#" class="list-left">
                          <span class="w-40 avatar danger">
                            <span>C</span>
                            <i class="on b-white bottom"></i>
                          </span>
                        </a>
                        <div class="list-body">
                          <div><a href="#">{{ client.name }}</a></div>
                          <small class="text-muted text-ellipsis">{{ client.reason }}</small>
                        </div>
                      </li>
                        {% endfor %}
                    </ul>
                  </div>
              </div>
          </div>
			</div>
      <div class="row">
        <div class="col-sm-6">
          <div class="box">
            <div class="box-header">
              <a data-toggle="modal" data-target="#modal-potential-project"><span class="label success pull-right">+</span></a>
              <h3>Potential Projects</h3>
            </div>
            <ul class="list-group no-border m-b">
                {% for project in potential_projects %}
                  <li class="list-group-item">
                    <a href="#" class="pull-left w-40 m-r"><img src="images/a8.jpg" class="img-responsive img-circle" alt="."></a>
                    <div class="clear">
                      <a href="#" class="_500 block">{{ project.name }}</a>
                      <span class="text-muted text-ellipsis">{{ project.description }}</span>
                    </div>
                  </li>
                {% endfor %}
              </ul>
            </div>

            <div class="box">
              
                  <div class="box-header b-b">
                    <h3>Inspiration</h3>
                      <a data-toggle="modal" data-target="#modal-inspiration"><span class="label success pull-right">+</span></a>
                  </div>
                  <div class="container text-center">
                      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                <img class="img-responsive" src="{% static "images/a1.jpg" %}">
                             </div>
                            {% for inspiration in inspirations %}
                          <div class="carousel-item">
                          <img class="img-responsive" src="{{ inspiration.image.url }}">
                          </div>
                            {% endfor %}
                        </div>
                      </div>
                  </div>
                  
            </div>
            </div>

        <div class="col-sm-6">
              <div class="box">
              
                  <div class="box-header b-b">
                    <h3>News</h3>
                  </div>
                  <a class="twitter-timeline" data-height="600" href="https://twitter.com/Ope__O"></a> 
              </div>
        </div>
      </div>
		</div>
	</div>
	<div class="col-lg w-lg w-auto-md white bg">
		<div>
	        <div class="p-a">
	        	<h6 class="text-muted m-a-0">Activities</h6>
	        </div>
            {% activity_stream 'actor' randJob %}
	        <div class="streamline streamline-theme m-b">
                {% for action in stream %}
	          <div class="sl-item b-success">
	            <div class="sl-content">
	              <div>{% display_action action %}</div>
	              <div class="sl-date text-muted">{{ action.timestamp|timesince }} {% trans "ago" %}</div>
	            </div>
	          </div>
                {% endfor %}
	          <div class="sl-item b-success active">
	            <div class="sl-content">
	              <div><a href="#">@Jessi</a> uploaded a file <a href="#" class="text-info">documentation.pdf</a></div>
	              <div class="sl-date text-muted">11:30</div>
	            </div>
	          </div>
	          <div class="sl-item b-info">
	            <div class="sl-content">
	              <div>Call to customer <a href="#" class="text-info">Jacob</a> and discuss the detail.</div>
	              <div class="sl-date text-muted">10:30</div>
	            </div>
	          </div>
	          <div class="sl-item">
	            <div class="sl-content">
	              <div><a href="#" class="text-info">Jessi</a> commented your post.</div>
	              <div class="sl-date text-muted">3 days ago</div>
	            </div>
	          </div>
	          <div class="sl-item">
	            <div class="sl-content">
	              <div><a href="#" class="text-info">Jessi</a> report a issue #2122.</div>
	              <div class="sl-date text-muted">Thu, 10 Mar</div>
	            </div>
	          </div>
	          <div class="sl-item">
	            <div class="sl-content">
	              <div>Prepare for presentation</div>
	              <div class="sl-date text-muted">Sat, 5 Mar</div>
	            </div>
	          </div>
	        </div>
        </div>
	</div>
</div>


<div class="modal fade inactive" id="chat" data-backdrop="false">
  <div class="modal-right w-xxl dark-white b-l">
  	  <div class="row-col">
  	    <a data-dismiss="modal" class="pull-right text-muted text-lg p-a-sm m-r-sm">&times;</a>
  	    <div class="p-a b-b">
  	      <span class="h5">Chat</span>
  	    </div>
  	    <div class="row-row light">
  	      <div class="row-body scrollable hover">
  	        <div class="row-inner">
  	          <div class="p-a-md">
  	            <div class="m-b">
  	              <a href="#" class="pull-left w-40 m-r-sm"><img src="images/a2.jpg" alt="..." class="w-full img-circle"></a>
  	              <div class="clear">
  	                <div class="p-a p-y-sm dark-white inline r">
  	                  Hi John, What's up...
  	                </div>
  	                <div class="text-muted text-xs m-t-xs"><i class="fa fa-ok text-success"></i> 2 minutes ago</div>
  	              </div>
  	            </div>
  	            <div class="m-b">
  	              <a href="#" class="pull-right w-40 m-l-sm"><img src="images/a3.jpg" class="w-full img-circle" alt="..."></a>
  	              <div class="clear text-right">
  	                <div class="p-a p-y-sm success inline text-left r">
  	                  Lorem ipsum dolor soe rooke..
  	                </div>
  	                <div class="text-muted text-xs m-t-xs">1 minutes ago</div>
  	              </div>
  	            </div>
  	            <div class="m-b">
  	              <a href="#" class="pull-left w-40 m-r-sm"><img src="images/a2.jpg" alt="..." class="w-full img-circle"></a>
  	              <div class="clear">
  	                <div class="p-a p-y-sm dark-white inline r">
  	                  Good!
  	                </div>
  	                <div class="text-muted text-xs m-t-xs"><i class="fa fa-ok text-success"></i> 5 seconds ago</div>
  	              </div>
  	            </div>
  	            <div class="m-b">
  	              <a href="#" class="pull-right w-40 m-l-sm"><img src="images/a3.jpg" class="w-full img-circle" alt="..."></a>
  	              <div class="clear text-right">
  	                <div class="p-a p-y-sm success inline text-left r">
  	                  Dlor soe isep..
  	                </div>
  	                <div class="text-muted text-xs m-t-xs">Just now</div>
  	              </div>
  	            </div>
  	          </div>
  	        </div>
  	      </div>
  	    </div>
  	    <div class="p-a b-t">
  	      <form>
  	        <div class="input-group">
  	          <input type="text" class="form-control" placeholder="Say something">
  	          <span class="input-group-btn">
  	            <button class="btn white b-a no-shadow" type="button">SEND</button>
  	          </span>
  	        </div>
  	      </form>
  	    </div>
  	  </div>
  </div>
</div>

<!-- ############ PAGE END-->

    </div>

{% endblock %}
  <!-- / -->

{% block modals %}
<!-- MODALS -->
<div class="modal fade" id="modal-potential-client">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header _600">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          New Potential Client
        </div>
        <div class="modal-body">
          <form class="form-horizontal" method="post">
              {% csrf_token %}
              <input type="text" name="modal-type" value="PotentialClientForm" class="form-control" hidden>
            <div class="form-group row">
                <label class="col-lg-2 form-control-label">Name:</label>
                <div class="col-lg-8">
                  <input type="text" class="form-control" name="name">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-2 form-control-label">Why?:</label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" name="reason">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-2 form-control-label">How would you get this client?</label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" name="how_to_get_client">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-2 form-control-label">Best way to contact the client:</label>
                 <div class="col-lg-8">
                     <select class="form-control" name="best_way_to_contact">
                         <option value="Phone Number">Phone Number</option>
                         <option value="email">Email</option>
                         <option value="Social media">Social Media</option>
                     </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-8 offset-lg-2">
                    <button type="submit" class="btn primary btn-sm p-x-md">Save</button>
                </div>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="modal-potential-project">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header _600">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          New Potential Project
        </div>
        <div class="modal-body">
          <form class="form-horizontal" method="post">
              {% csrf_token %}
              <input type="text" name="modal-type" value="PotentialProjectForm" class="form-control" hidden>
            <div class="form-group row">
                <label class="col-lg-2 form-control-label">Name:</label>
                <div class="col-lg-8">
                  <input type="text" class="form-control" name="name">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-2 form-control-label">Why?</label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" name="reason">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-2 form-control-label">Profit opportunities:</label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" name="profit_opportunities">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-2 form-control-label">Description:</label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" name="description">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-8 offset-lg-2">
                    <button type="submit" class="btn primary btn-sm p-x-md">Save</button>
                </div>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="modal-design-problem">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header _600">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          New Design Problem
        </div>
        <div class="modal-body">
          <form class="form-horizontal" method="post">
              {% csrf_token %}
              <input type="text" name="modal-type" value="DesignProblemsForm" class="form-control" hidden>
            <div class="form-group row">
                <label class="col-lg-2 form-control-label">Name:</label>
                <div class="col-lg-8">
                  <input type="text" class="form-control" name="name">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-2 form-control-label">Description:</label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" name="description">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-2 form-control-label">Potential solution:</label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" name="potential_solution">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-2 form-control-label">Profit Opportunities:</label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" name="profit_opportunities">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-8 offset-lg-2">
                    <button type="submit" class="btn primary btn-sm p-x-md">Save</button>
                </div>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="modal-amount-saved">
  <div class="modal-dialog modal-sm text-center">
      <div class="modal-content">
        <div class="modal-header _600">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          <h2>Amount saved</h2>
        </div>
        <div class="modal-body">
          <h4>You should've saved &#8358;{% widthratio amount_made 2 1 %} by now.</h4>
          <p>Re-adjust if this is not the case.</p>

          <p><small>Your specified savings ratio is {% widthratio 100 2 1 %}%.<br>You can change this in your settings.</small></p>
        </div>
      </div>
    </div>
</div>

      <div class="modal fade" id="modal-inspiration">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header _600">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          New Inspiration
        </div>
        <div class="modal-body">
          <form class="form-horizontal" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <input type="text" name="modal-type" value="InspirationForm" class="form-control" hidden>
            <div class="form-group row">
                <label class="col-lg-2 form-control-label">Name:</label>
                <div class="col-lg-8">
                  <input type="text" class="form-control" name="name">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-2 form-control-label">Image:</label>
                <div class="col-lg-8">
                    <input type="file" class="form-control" name="image">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-8 offset-lg-2">
                    <button type="submit" class="btn primary btn-sm p-x-md">Save</button>
                </div>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>
<!-- MODALS END -->
{% endblock %}


