{% extends 'dashboard/base.html' %}
{% load staticfiles %}
{% block title %} | Quote{% endblock %}
{% block content %}
  <!-- content -->
  <div id="content" class="app-content box-shadow-z2 bg pjax-container" role="main">
    <div class="app-header white bg b-b">
          <div class="navbar" data-pjax>
          </div>
    </div>
    <div class="app-footer white bg p-a b-t">
      <div class="pull-right text-sm text-muted">Version 1.0.1</div>
      <span class="text-sm text-muted">&copy; Copyright.</span>
    </div>
    <div class="app-body">

<!-- ############ PAGE START-->
<div class="padding">
    <a href="#" class="btn btn-sm btn-info pull-right hidden-print" onClick="window.print();">Print</a>
    <p><i class="fa fa-apple fa fa-3x"></i></p>
    <div class="row">
      <div class="col-xs-6">
        <h4 class="text-md">{{ request.user.username|title }}</h4>
        <p><a href="http://www.apple.com">{{ request.user.email }}</a></p>
        <p>{% for part in request.user.profile.get_split_address %}
            {{ part }}<br>
            {% endfor %}
        </p>
        <p>
          Telephone:  {{ request.user.profile.phone_number }}<br>
        </p>
      </div>
      <div class="col-xs-6 text-right">
        <p id="current_date"></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="box p-a">
          <strong class="text-muted">TO:</strong>
          <h6>{{ project.client.name }}</h6>
          <p class="text-muted">
            Phone: {{ project.client.phone_number }}<br>
            Email: {{ project.client.email }}<br>
          </p>
        </div>
      </div>
    </div>
    <p>Project start date: <strong>{{ project.start_date }}</strong><br>
        Project status: <span class="label">{{ project.payment_status }}</span><br>
        Project ID: <strong>#{{ project.id|add:"1000" }}</strong>
    </p>
    <div class="table-responsive">
      <table class="table table-striped white b-a">
        <thead>
          <tr>
            <th style="width: 60px">QTY</th>
            <th>DESCRIPTION</th>
            <th style="width: 140px">UNIT PRICE</th>
            <th style="width: 90px">TOTAL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>iPhone 5 32GB White & Silver (GSM) Unlocked</td>
            <td>$749.00</td>
            <td>$749.00</td>
          </tr>
          <tr>
            <td>2</td>
            <td>iPad mini with Wi-Fi 32GB - White & Silver</td>
            <td>$429.00</td>
            <td>$858.00</td>
          </tr>
          <tr>
            <td colspan="3" class="text-right"><strong>Subtotal</strong></td>
            <td>$1607.00</td>
          </tr>
          <tr>
            <td colspan="3" class="text-right no-border"><strong>Shipping</strong></td>
            <td>$0.00</td>
          </tr>
          <tr>
            <td colspan="3" class="text-right no-border"><strong>VAT Included in Total</strong></td>
            <td>$0.00</td>
          </tr>
          <tr>
            <td colspan="3" class="text-right no-border"><strong>Total</strong></td>
            <td><strong>$1607.00</strong></td>
          </tr>
        </tbody>
      </table>
    </div>          
  </div>

<!-- ############ PAGE END-->

    </div>
  </div>
  <!-- / -->
{% endblock %}

{% block base_scripts %}
   <script type="text/javascript">
        //Display the current date & time
        var date = new Date();
        var n = date.toDateString();

        document.getElementById('current_date').innerHTML = n;

        //Display print option immediately the page opens.
        jQuery(document).ready(function () {
        window.print();
        });
    </script>
{% endblock %}